<!DOCTYPE html>

<html>
    <head>
        <title>Ingredients List</title>
        <link rel="stylesheet" href={{url_for('static',filename='css/main.css')}}>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='css/js/main.js') }}"></script>

    </head>

    <body>
        <!--LOGO-->
        <div>
            <img src="https://i.pinimg.com/564x/7f/83/19/7f83190ad6bce22c65fc85dc0713844e.jpg" alt="welcome sign">
        </div>

        <!--REMOVE ITEM-->
        <div id="remove_items">
            <form action='/remove_item' method ="POST">
                {%for item in alist%}
                <input type="checkbox" name = "check" id="{{item}}" value="{{item}}" onchange="check_me('{{ item }}')">
                <label for="{{item}}" name ="{{item}}" >{{item}}</label><br>
                {%endfor%}
                
                <input type="submit" value="Checked Item" id="r_btn">
            </form>

        </div>
        <br>
        <!--ADDING ITEM-->
        <div id="add_item">
            <!--POST: used to send data to server, while GET: request data from resource-->
            <form action="/add_item" method="POST"> 
                <select name ="select_items">
                {%for item in all_items%}
                <option value ={{item}}> {{item}} </option>
                {%endfor%}
                <input type="submit" value="Add item" id="add_btn">
            </form>
        </div>
        
        
    </body>

</html>